<div class="container">
<div class="d-flex justify-content-center flex-column mx-auto py-5">
    <h3 class="fs-1 text-primary">This page is only to check auth guards after logging in</h3>
    <p>auth works!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, nihil. Commodi libero adipisci architecto explicabo
        error enim optio recusandae animi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, nihil. Commodi libero adipisci architecto explicabo
        error enim optio recusandae animi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, nihil. Commodi libero adipisci architecto explicabo
        error enim optio recusandae animi</p>
</div>
</div>