<div class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand fs-3 fw-bold" routerLink=''>Products</a>
                <form class="d-flex">
                    <a class="btn btn-primary me-3" routerLink='/cart'><i class="fas fa-cart-plus fs-4"></i> {{totalItem}}</a>
                    <a class="btn btn-primary me-3" routerLink='/register'>Register</a>
                    <a class="btn btn-primary me-3" routerLink='/login'>Login</a>
                    <a class="btn btn-primary" routerLink="/auth">Authentication</a>
                </form>
            </div>
        </nav>
    </div>
</div>

